




body
{
		background: url(bihar background.jpgs) no-repeat fixed center;
	background-size: cover;
}

img
{
	width:450px;
	height:300px;
	margin: 10px;
	transition: all;
	box-shadow: 9px 9px 10px;
	}
	img:hover
	{
		transform: scale(1.1);

	}



h1
{
font-size: 65px;
font-family: italic;
box-shadow: 7px 7px 8px;


}